<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <script src="angular.min.js"></script>
        <script src="app.js"></script>
        <title>
            LunchCheck
        </title>
    </head>
    <body style="text-align:center;" ng-app='LunchCheck'>
        <h1>LunchCheck</h1>

        <div ng-controller='LunchCheckController'>
            <input type="tex" ng-model="string"><br>
            <br>
            <button type="button" ng-click="checkIfTooMuch()">Check</button>
            <br>
            <br>
            <div>{{ res }}</div>
        </div>
    </body>
</html>
